.header {
    height: 35px;
    background-color: antiquewhite;
}

#content {
    width: 100%;
}
.stable-head {
    position: absolute;
    background: #F5F5F5;
    overflow: hidden;
    -moz-user-select: none;
    border: 1px solid;
    border-color: #FFFFFF #D0D0D0 #D0D0D0 #FFFFFF;
    border-bottom: 0;
    z-index: 10
}
.stable-head table {
    table-layout: fixed;
    width: 0
}
.stable-head table tr {
    background: transparent url(http://127.0.0.1:8003/images/header.gif) repeat-x scroll center top
}
.stable-head table tr td {
    height: 14px;
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    border: 1px solid;
    border-color: #FFFFFF #D0D0D0 #D0D0D0 #FFFFFF;
    background: transparent url(http://127.0.0.1:8003/images/blank.gif) no-repeat scroll right center;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top
}
.stable-head td div {
    padding: 0 12px 0 4px
}
.stable-head div.resz {
    border: 1px solid #FF0000;
    width: 5px;
    height: 14px;
    padding: 0 !important;
    float: right;
    background: transparent url(http://127.0.0.1:8003/images/s.gif) no-repeat scroll left center;
    cursor: e-resize
}
