<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyRtorrent</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link type="text/css" href="static/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="pure-g header">
        <!--<a id="mnu_settings" href="javascript://void();" onclick="theWebUI.showSettings(); return(false);" onfocus="this.blur()" title="Настройки...">-->
				<!--<div id="setting"></div>-->
		<!--</a>-->
    </div>

    <div class="pure-g">
        <div class="pure-u-1-8"> ... </div>
        <div class="pure-u-7-8">
            <div class="stable-head">
                <table id="content" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <div>Имя</div>
                            </td>
                            <td>
                                <div>Статус</div>
                            </td>
                            <td>
                                <div>Размер</div>
                            </td>
                            <td>
                                <div>Готово</div>
                            </td>
                            <td>
                                <div>Скачано</div>
                            </td>
                            <td>
                                <div>Отдано</div>
                            </td>
                            <td>
                                <div>Ратио</div>
                            </td>
                            <td>
                                <div>Скачивание</div>
                            </td>
                            <td>
                                <div>Отдача</div>
                            </td>
                            <td>
                                <div>Время</div>
                            </td>
                            <td>
                                <div>Метка</div>
                            </td>
                            <td>
                                <div>Пиры</div>
                            </td>
                            <td>
                                <div>Приоритет</div>
                            </td>
                            <td>
                                <div>Создан</div>
                            </td>
                            <td>
                                <div>Осталось</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>